@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
 :root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);
    /*  */
    --secundary-solid: #1D84B5;
    --secundary-900: rgba(29, 132, 181, 0.9);
    --secundary-500: rgba(29, 132, 181, 0.5);
    --secundary-300: rgba(29, 132, 181, 0.3);
    /*  */
    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);
    /* background */
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;
    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    /* font sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    /* spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    color: var(--dark-solid);
    font-size: 62.5%;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    /* en el figma dice 20px */
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* HEADER */

header {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    gap: var(--spacing-36);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with-submenu:hover>.submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
}

.submenu__link:hover {
    background-color: var(--primary-900);
    transition: background .3s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
    padding-right: var(--spacing-128);
}

.width-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
}

footer {
    margin-top: auto;
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    gap: var(--spacing-36);
    padding: var(--spacing-68);
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}


/* SEARCH */

.search {
    display: flex;
    padding-top: var(--spacing-24);
    padding-bottom: var(--spacing-24);
    gap: var(--spacing-12);
}

.search__textbox {
    border: 2px solid #30343F;
    border-radius: 6px;
    width: 50%;
    padding: var(--spacing-8) var(--spacing-16);
}


/* ADD */

.add-product {
    display: flex;
    justify-content: space-between;
}

.add-product__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-jumbo);
}

.add-product__add {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: var(--spacing-12);
}

.add-product__add--label {
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-large);
}

.add-product__add--icon__img {}

.add-product__add--icon__link--img {}


/* TABLE */

.table-products {
    font-size: var(--font-large);
    width: 100%;
    table-layout: auto;
}

.table-products--head {}

.table-products--head__row {}

.table-products--head__row--head {}

.table-products--body {}

.table-products--body__row {}

.table-products--body__row--data {}

.table-products--body__row--data__icon--picture {}

.table-products--body__row--data__icon--picture__link {}

.table-products--body__row--data__icon--picture__img {}