@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
 :root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);
    /*  */
    --secundary-solid: #1D84B5;
    --secundary-900: rgba(29, 132, 181, 0.9);
    --secundary-500: rgba(29, 132, 181, 0.5);
    --secundary-300: rgba(29, 132, 181, 0.3);
    /*  */
    --dark-solid: #1F1F1F;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);
    /* background */
    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;
    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;
    /* font sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    /* spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    color: var(--dark-solid);
    font-size: 62.5%;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    /* en el figma dice 20px */
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background: url('https://api.iconify.design/ic/round-arrow-drop-up.svg?rotate=180deg') no-repeat center center / contain;
    background-position-x: 100%;
    border: 2px solid #30343F;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}


/* HEADER */

header {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    gap: var(--spacing-36);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
    position: relative;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.with-submenu:hover>.submenu {
    display: block;
}

.submenu {
    display: none;
    width: 300px;
    position: absolute;
    background-color: var(--dark-bg-solid);
    z-index: 3;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
}

.submenu__link:hover {
    background-color: var(--primary-900);
    transition: background .3s ease-in-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-main {
    padding-right: var(--spacing-128);
}

.width-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-8);
}

footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
    background-color: var(--dark-bg-solid);
    gap: var(--spacing-36);
    padding: var(--spacing-68);
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}


/* MAIN */

.main-title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-jumbo);
}


/* FORM */

.main-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
}

.main-form__options {
    font-size: var(--font-large);
    padding: var(--spacing-24) 0;
    display: flex;
    gap: var(--spacing-24);
}

.main-form__options--label {}

.main-form__options--select {
    padding-right: var(--spacing-68);
    width: auto;
}

.main-form__product-name-description {
    font-size: var(--font-large);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
}

.main-form__product-name-description--name {
    display: flex;
    gap: var(--spacing-16);
}

.main-form__product-name-description--name__label {}

.main-form__product-name-description--name__input {
    width: 300px;
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
}

.main-form__product-name-description--textarea {
    max-width: 700px;
    padding: var(--spacing-12);
}

.main-form__inputs {
    font-size: var(--font-large);
    display: flex;
    gap: var(--spacing-20);
}

.main-form__inputs--label {}

.main-form__inputs--input {
    max-width: var(--spacing-128);
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
}

.main-form__inputs--input:nth-last-child(1) {
    padding: 0 var(--spacing-8);
    width: var(--spacing-36);
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
}

.main-form__promo {
    font-size: var(--font-large);
    display: flex;
    gap: var(--spacing-24);
}

.main-form__promo--label {}

.main-form__promo--input {
    padding: 0 var(--spacing-8);
    width: var(--spacing-36);
    border: 0;
    border-bottom: 2px solid var(--primary-solid);
}

.main-form__promo--select {
    padding-right: var(--spacing-128);
    width: auto;
}

.main-form__images {
    font-size: var(--font-large);
    padding: var(--spacing-12) 0;
}

.main-form__images--label {}

.main-form__images--input {}

.main-form__buttons {
    display: flex;
    gap: var(--spacing-24);
    padding-bottom: var(--spacing-24);
}

.main-form__buttons--button {
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    padding: var(--spacing-8) var(--spacing-16);
    border: 0;
    font-weight: 400;
    font-size: var(--font-medium);
    transition: all .3s ease-in-out;
}

.main-form__buttons--button:hover {
    cursor: pointer;
    background-color: var(--primary-500);
}